<html lang="en">
<head>
    <title>After School Activities</title>
    <link rel="stylesheet" href="styles.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
    integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous"/>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.7.14/dist/vue.js"></script>
    <script src="activities&clubs.js"></script>
</head>
<body>
    <div id="app">
        <label for="sortAttribute">Sort by:</label>
        <select v-model="sortBy" id="sortAttribute">
            <option value="title">Subject</option>
            <option value="location">Location</option>
            <option value="price">Price</option>
        </select>

        <label for="sortOrder">Sort order:</label>
        <select v-model="sortOrder" id="sortOrder">
            <option value="asc">Ascending</option>
            <option value="desc">Descending</option>
        </select>

        <header>
            <h1>{{ sitename }}</h1>
        </header>

        <main>
            <button v-on:click="showCheckout" class="checkout-button">
                {{ cartItemCount }}
                <span class="fas fa-cart-plus"></span> Checkout
            </button>

            <div class="card-deck">
                <div v-for="product in sortedProducts" :key="product.id" class="card">
                    <div v-if="showProduct">
                        <figure>
                            <img :src="product.image" style="width: 200px; height: auto;">
                        </figure>
                        <h2>{{ product.title }}</h2>
                        <p v-if="product.room">{{ product.room }}</p>
                        <p v-if="product.location">{{ product.location }}</p>
                        <p>Price: {{ product.price }}</p>
                        <button v-on:click="addToCart(product)" v-if="canAddToCart(product)">
                            Add to Cart
                        </button>

                        <span v-if="product.availableInventory === cartItemCount">
                            All Out
                        </span>
                        <span v-else-if="product.availableInventory - cartItemCount < 5">
                            {{ product.availableInventory - cartItemCount }} left!
                        </span>
                        <span v-else>Buy Now!</span>

                        <div>
                            <span v-for="n in product.rating">★</span>
                            <span v-for="n in 5 - product.rating">☆</span>
                        </div>
                    </div>
                </div>
            </div>

            <div v-if="showProduct">
                <h2>Checkout</h2>
                <p>
                    <strong>First Name:</strong>
                    <input v-model.trim="order.firstName"/>
                </p>
                <p>
                    <strong>Last Name:</strong>
                    <input v-model.trim="order.lastName"/>
                </p>

                <h2>Order Information</h2>
                <p>First Name: {{ order.firstName }} </p>
                <p>Last Name: {{ order.lastName }} </p>
                
                <button v-on:click="submitForm">Place Order</button>
            </div>
        </main>
    </div>

    <script type="text/javascript">
        var webstore = new Vue({
            el: '#app',
            data: {
                sitename: "After School Club & Activities",
                products: activitiesAndClubsData,
                showProduct: true,
                cart: [],
                cartItemCount: 0,
                order: {
                    firstName: '',
                    lastName: '',
                },
                sortBy: 'title',
                sortOrder: 'asc',
            },
            
            methods: {
                addToCart: function (product) {
                    if (this.canAddToCart(product)) {
                        this.cart.push(product.id);
                        this.cartItemCount = this.cart.length;
                    }
                },
                showCheckout() {
                    this.showProduct = !this.showProduct;
                },
                canAddToCart: function (product) {
                    return product.availableInventory > this.cartItemCount;
                },
                submitForm() {
                    alert('Order Submitted!');
                },
            },
            computed: {
                sortedProducts: function () {
                    const attribute = this.sortBy;
                    const order = this.sortOrder === 'asc' ? 1 : -1;

                    return this.products.slice().sort((a, b) => {
                        if (a[attribute] < b[attribute]) return -1 * order;
                        if (a[attribute] > b[attribute]) return 1 * order;
                        return 0;
                    });
                },
            },
        });
    </script>
</body>
</html>